<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite verbose="0" name="Test Suite">
    <test name="Demo Test">
        <parameter name="minElementCount" value="5"/>
        <classes>

            <class name="MainTest" />
        </classes>
    </test>
</suite>